
<!-- build:include ../Shared/header.html --><!-- /build -->

<link href="../Assets/Css/Pages/homepage.css" rel="stylesheet">

<section class="container">
  <div class="slider kereta">
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-1</h4>
            <p>16 kursi</p>
        </div>
    </div>
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-2</h4>
            <p>16 kursi</p>
        </div>
    </div>
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-3</h4>
            <p>16 kursi</p>
        </div>
    </div>
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-4</h4>
            <p>16 kursi</p>
        </div>
    </div>
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-5</h4>
            <p>16 kursi</p>
        </div>
    </div>
    <div class="clip">
        <div class="clipIn">
            <h4>EKS-6</h4>
            <p>16 kursi</p>
        </div>
    </div>
  </div>
</section>

<section class="container keteranganPenumpang">
    <div class="row">
        <div class="col-md-6">
            <h4>KETERANGAN</h4>
            <ul class="info">
                <li>
                    <div class="notAvailable">Tidak <br/>Tersedia</div>
                </li>
                <li>
                    <div class="available">Tersedia</div>
                </li>
                <li>
                    <div class="choosed">Terpilih</div>
                </li>
                <li>
                    <div class="choosing">Sedang Dipilih</div>
                </li>
            </ul>
            <div class="boxPass -1 choosing" index-pass="1">
                <p>1. Adi</p>
                <ul>
                    <li class="gerbong">Gerbong<br /> EKS-<span>2</span></li>
                    <li class="kursi">2D</li>
                </ul>
            </div>
            <div class="boxPass -2 choosed" index-pass="2">
                <p>2. Amir</p>
                <ul>
                    <li class="gerbong">Gerbong<br /> EKS-<span>2</span></li>
                    <li class="kursi">9B</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-1" index-slide="0">
            <h4>EKSEKUTIF <span class="no-gerbong">1</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-2 hidden" index-slide="1">
            <h4>EKSEKUTIF  <span class="no-gerbong">2</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available active" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">5A</div>
                    <div class="available" index-pass=" ">5B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">5C</div>
                    <div class="available" index-pass=" ">5D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">6A</div>
                    <div class="available" index-pass=" ">6B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">7C</div>
                    <div class="available" index-pass=" ">7D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">8A</div>
                    <div class="available" index-pass=" ">8B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">8C</div>
                    <div class="available" index-pass=" ">8D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">9A</div>
                    <div class="choosed" index-pass=" ">9B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">9C</div>
                    <div class="available" index-pass=" ">9D</div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-3 hidden" index-slide="2">
            <h4>EKSEKUTIF <span class="no-gerbong">3</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-4 hidden" index-slide="3">
            <h4>EKSEKUTIF <span class="no-gerbong">4</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-5 hidden" index-slide="4">
            <h4>EKSEKUTIF <span class="no-gerbong">5</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
        </div>

        <div class="col-md-6 gerbongSeat gerbong-6 hidden" index-slide="5">
            <h4>EKSEKUTIF <span class="no-gerbong">6</span></h4>
            <ul>
                <li class="leftSeat">
                    <div class="taken" index-pass=" ">1A</div>
                    <div class="available" index-pass=" ">1B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">1C</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">2A</div>
                    <div class="available" index-pass=" ">2B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">2C</div>
                    <div class="available" index-pass=" ">2D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">3A</div>
                    <div class="available" index-pass=" ">3B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">3C</div>
                    <div class="available" index-pass=" ">3D</div>
                </li>
            </ul>
            <ul>
                <li class="leftSeat">
                    <div class="available" index-pass=" ">4A</div>
                    <div class="available" index-pass=" ">4B</div>
                </li>
                <li class="rightSeat">
                    <div class="available" index-pass=" ">4C</div>
                    <div class="available" index-pass=" ">4D</div>
                </li>
            </ul>
        </div>

    </div>
</section>

<!-- build:include ../Shared/footer.html --><!-- /build -->
<script>
$(function() {
    jcf.replaceAll();
});
</script>